{% extends '_login.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}

    <section class="bg-white rounded-3xl shadow-md py-6 px-4 mx-auto max-w-xl">

        <div class="container grid gap-4 max-w-sm mx-auto">

            <div class="mx-auto text-2xl">
                {% include 'misc/logo_agencia_trabalhador.html' %}
            </div>

            <h1 class="text-xl font-bold text-gray-900">
                Informe seus dados
            </h1>

            <form method="post" class="grid gap-4">
                {% csrf_token %}
                {% form_flowbite form %}
                
                <button type="submit" class="btn-primary">
                    Registrar
                </button>

                <p class="text-sm font-light text-gray-500 py-2">Já possui conta? <a
                        href="{% url 'core:index' %}"
                        class="link-primary">Login</a></p>
                
            </form>

        </div>

    </section>


{% endblock %}