{% extends '_base.html' %}
{% block title %} Dados Pessoais {% endblock %}
{% load custom_tags %}
{% load static %}

{% block content %}

    <section class="bg-white p-4 shadow-md rounded-lg">

        <div class="container max-w-lg mx-auto">

            <form method="post" class="grid gap-4">
                {% csrf_token %}

                {% form_flowbite form_profile %}
                {% form_flowbite form_curriculum %}


                <button type="submit" class="btn-primary">
                    Salvar
                </button>


            </form>

        </div>

    </section>

{% endblock %}

{% block js %}
    <script src="{% static 'src/js/mask.js' %}"></script>
{% endblock %}