{% extends '_base.html' %}
{% block title %} Experiências {% endblock %}
{% load custom_tags %}

{% block content %}

    {% fab_button url='/' %}

    {% for  experience in experiences %}



    {% empty %}
        {% empty_list message='Adicione suas experiências de trabalho' title='Nenhuma Experiência' %}
    {% endfor %}


    {#        <section class="bg-white dark:bg-gray-900 p-4 shadow rounded-lg">#}
    {##}
    {#            <h1 class="text-xl font-bold">Dados Pessoais</h1>#}
    {##}
    {#            <div class="container max-w-lg mx-auto my-4">#}
    {##}
    {#                <form method="post" class="grid gap-6">#}
    {#                    {% csrf_token %}#}
    {##}
    {#                    <div class="grid gap-4">#}
    {#                        {% form_flowbite form_profile %}#}
    {#                    </div>#}
    {##}
    {#                    <div class="grid gap-4">#}
    {#                        {% form_flowbite form_curriculum %}#}
    {#                    </div>#}
    {##}
    {#                    <button type="submit" class="bg-primary-100 w-full text-white p-2 rounded-lg hover:bg-primary-500 transition duration-300">#}
    {#                        Salvar#}
    {#                    </button>#}
    {##}
    {#                </form>#}
    {##}
    {#            </div>#}
    {##}
    {#        </section>#}



{% endblock %}