<div class="md:ml-64 absolute flex inset-0">

    <div class="flex flex-col m-auto items-center text-gray-400">

        <svg class="w-[70px] h-[70px]" aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.1"
                  d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
        </svg>


        <p class="text-xl font-bold text-gray-800">{{ title }}</p>
        <p class="text-sm">{{ message }}</p>
    </div>

</div>