{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sine Paraná</title>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<body class="bg-gray-50">

{% if request.user.is_authenticated %}
    {% include 'misc/navbar.html' %}
{% endif %}

<main class="my-16 md:my-10 px-4 pb-10 md:p-9 md:ml-64">

    <div class="text-3xl font-bold py-4 flex">
        {% block title %}{% endblock %} 
    </div>
     
    {% block content %}{% endblock content %}

</main>

{% if request.user.is_authenticated %}
    {% include 'misc/bottom_navigation.html' %}
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>