{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,  user-scalable=no">
    <title>Agência do Trabalhador</title>

    {% compress css file main %}
        <link rel="stylesheet" href="{% static 'src/css/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-gray-100">

{% if request.user.is_authenticated %}
    {% include 'misc/navbar.html' %}
{% endif %}

<main class="main__container">

    <section class="main__title">
        {% block title %}{% endblock %}
    </section>

    {% block content %}{% endblock content %}

</main>

{% if request.user.is_authenticated %}
    {% include 'misc/bottom_navigation.html' %}
{% endif %}

{% compress js file main %}
    <script src="{% static 'src/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
{% endcompress %}

</body>
</html>