{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sine Paraná</title>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<body class="bg-gray-50">

<main class="p-4 mt-6">
    {% block content %}{% endblock content %}
</main>
{#FOOTER#}
<div class="absolute bottom-0 w-full flex p-4">
    <div class="flex items-center mx-auto">
        <img src="{% static 'imgs/brasao_parana.svg' %}" class="h-10 me-3" alt="FlowBite Logo"/>
        <div class="grid">
            <span class="font-bold whitespace-nowrap dark:text-white">Paraná</span>
            <span class="text-xs dark:text-white border-t-[1px] border-green-400">Governo do Estado</span>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>