{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,  user-scalable=no">
    <link rel="icon" type="image/png" href="{% static 'imgs/favicon/favicon-96x96.png' %}" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="{% static 'imgs/favicon/favicon.svg' %}"/>
    <link rel="shortcut icon" href="{% static 'imgs/favicon/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'imgs/favicon/apple-touch-icon.png' %}"/>
    <link rel="manifest" href="{% static 'imgs/favicon/site.webmanifest' %}"/>
    <title>Sine Paraná</title>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/css/output.css' %}">
    {% endcompress %}
</head>

<body class="bg-gray-100">

<main class="px-4 py-10">

    {% block content %}{% endblock content %}

    <div class="py-6 grid">
        <div class="flex items-center mx-auto">
            <img src="{% static 'imgs/brasao_parana.svg' %}" class="h-10 me-3" alt="FlowBite Logo"/>
            <div class="grid">
                <span class="font-black whitespace-nowrap">PARANÁ</span>
                <span class="text-xs dark:text-white border-t-[1px] border-green-400">Governo do Estado</span>
            </div>
        </div>
    </div>

</main>


<script src="{% static 'src/js/main.js' %}" type="module"></script>
<script src="{% static 'src/js/mask.js' %}"></script>
</body>
</html>