<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">{% csrf_token %}
    {{ profile_form.as_p }}

    {{ form.as_p }}
    
    <button type="submit">Update</button>
</form>

<h1>Experiences</h1>
{% for experience in profile.experiences.all %}
    <p>
    {{ experience }}
    </p>
    
{% endfor %}

<h1>Qualifications</h1>
{% for qualification in profile.qualifications.all %}
{{ qualification }}
{% endfor %}

<h1>Applications</h1>
{% for application in profile.curriculum_applications.all %}
    <p>{{ application.job.title }}</p>
    <p>{{ application.job.requirements }}</p>
{% endfor %}

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

</body>
</html>