{% extends '_base.html' %}
{% block title %}
    {{ job.title }}
{% endblock %}

{% block content %}

    <section class="grid gap-4 bg-white p-4 rounded-lg shadow-md">

        <div class="flex justify-between items-center w-full">

            <p class="text-gray-400"># {{ job.id_job }}</p>

            {% if job.is_pcd %}
                <span class="px-2 py-0.5 bg-red-100 text-red-600 rounded-full font-semibold">Exclusivo PCD</span>
            {% endif %}

            {% if job.is_urgent %}
                <span class="px-2 py-0.5 bg-red-100 text-red-600 rounded-full font-semibold">Urgente</span>
            {% endif %}

        </div>

        <div class="container mx-auto max-w-2xl space-y-6">

            <div class="space-y-1">

                <div class="flex items-center space-x-2">

                    <svg class="w-5 h-5 text-primary-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 21 21">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2"
                              d="m7.171 12.906-2.153 6.411 2.672-.89 1.568 2.34 1.825-5.183m5.73-2.678 2.154 6.411-2.673-.89-1.568 2.34-1.825-5.183M9.165 4.3c.58.068 1.153-.17 1.515-.628a1.681 1.681 0 0 1 2.64 0 1.68 1.68 0 0 0 1.515.628 1.681 1.681 0 0 1 1.866 1.866c-.068.58.17 1.154.628 1.516a1.681 1.681 0 0 1 0 2.639 1.682 1.682 0 0 0-.628 1.515 1.681 1.681 0 0 1-1.866 1.866 1.681 1.681 0 0 0-1.516.628 1.681 1.681 0 0 1-2.639 0 1.681 1.681 0 0 0-1.515-.628 1.681 1.681 0 0 1-1.867-1.866 1.681 1.681 0 0 0-.627-1.515 1.681 1.681 0 0 1 0-2.64c.458-.361.696-.935.627-1.515A1.681 1.681 0 0 1 9.165 4.3ZM14 9a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"></path>
                    </svg>

                    <p class="text-xl font-bold">Requisitos</p>
                </div>

                <div class="rounded-lg border border-gray-100 bg-gray-50 ml-7 p-2">
                    {{ job.requirements | linebreaks }}
                </div>

            </div>

            <div class="space-y-1">

                <div class="flex items-center space-x-2">

                    <svg class="w-5 h-5 text-primary-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 22 22">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                              d="M18.122 17.645a7.185 7.185 0 0 1-2.656 2.495 7.06 7.06 0 0 1-3.52.853 6.617 6.617 0 0 1-3.306-.718 6.73 6.73 0 0 1-2.54-2.266c-2.672-4.57.287-8.846.887-9.668A4.448 4.448 0 0 0 8.07 6.31 4.49 4.49 0 0 0 7.997 4c1.284.965 6.43 3.258 5.525 10.631 1.496-1.136 2.7-3.046 2.846-6.216 1.43 1.061 3.985 5.462 1.754 9.23Z"></path>
                    </svg>


                    <p class="text-xl font-bold">Benefícios</p>
                </div>

                <div class="rounded-lg border border-gray-100 bg-gray-50 ml-7 p-2">
                    {{ job.benefits | linebreaks }}
                </div>

            </div>

            <div class="space-y-1">

                <div class="flex items-center space-x-2">

                    <svg class="w-5 h-5 text-primary-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                              d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                    </svg>

                    <p class="text-xl font-bold">Horário</p>
                </div>

                <div class="rounded-lg border border-gray-100 bg-gray-50 ml-7 p-2">
                    {{ job.time_scale }}
                </div>

            </div>

            <div class="space-y-1">

                <div class="flex items-center space-x-2">

                    <svg class="w-5 h-5 text-primary-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 22 22">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                              d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                              d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"></path>
                    </svg>

                    <p class="text-xl font-bold">Local de trabalho</p>
                </div>

                <div class="rounded-lg border border-gray-100 bg-gray-50 ml-7 p-2">
                    {{ job.company.district }} - {{ job.company.city }}
                </div>

            </div>

            <p class="text-2xl font-bold text-center">R$ {{ job.remuneration }}</p>

        </div>

        <div class="container mx-auto max-w-sm">

            <button class="bg-primary-600 w-full text-white p-2 rounded-lg hover:bg-primary-500 transition duration-300">
                Candidatar
            </button>

        </div>


    </section>


{% endblock %}