{% extends '_base.html' %}
{% block title %}

    <span>Vagas</span>

{% endblock title %}

{% block content %}
    
    <div class="grid md:grid-cols-3 gap-4">

        {% for job in page_obj %}

            <a href="{% url 'core:job_detail' job.id %}"
               class="flex flex-row bg-white border border-gray-200 rounded-lg shadow-md hover:scale-105 transition duration-300 select-none">

                <div class="grid gap-2 p-4 w-full">

                    <div class="flex text-sm">

                        <span class="text-gray-400"># {{ job.id_job }}</span>

                        <div class="text-red-600 font-semibold ml-auto space-x-1">

                            {% if job.is_pcd %}
                                <span class="px-2 py-0.5 bg-red-100 rounded-full">Exclusivo PCD</span>
                            {% endif %}

                            {% if job.is_urgent %}
                                <span class="px-2 py-0.5 bg-red-100 rounded-full">Urgente</span>
                            {% endif %}

                        </div>

                    </div>

                    <p class="text-2xl font-bold">{{ job.title }}</p>
                    <p class="text-xl font-bold text-primary-600">R$ {{ job.remuneration }}</p>

                    <div>
                        <p class="text-lg font-semibold">Requisitos</p>
                        <span class="text-sm line-clamp-3">{{ job.requirements | linebreaksbr }}</span>
                    </div>

                    <div class="flex items-center space-x-1.5 mt-auto">

                        <svg class="w-4 h-4 text-red-600" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                  d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"
                                  clip-rule="evenodd" stroke="3"></path>
                        </svg>

                        <p class="text-sm ">{{ job.company.city }} - {{ job.company.district }}</p>

                    </div>

                    <p class="text-xs text-gray-400 mt-auto">Válido até - {{ job.end_registration_date | date }}

                </div>

            </a>
        {% empty %}

            <div class="md:ml-64 absolute flex inset-0">

                <div class="flex flex-col m-auto items-center text-gray-400">

                    <svg class="w-[70px] h-[70px]" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.1"
                              d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                    </svg>


                    <p class="text-xl font-bold text-gray-800">Nenhuma vaga disponível</p>
                    <p class="text-sm">Breve novas oportunidades</p>
                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}